*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;


}

main{
    text-align: center;
    background-image: url(../images/bordercolli_field.jpg);
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 2rem;
    padding-top: 15rem;;
}


main h1{
    font-size: 3rem;
}

main p {
    margin: 1rem 0;
    margin-bottom: 2.6rem;
}

.btn{
    text-decoration: none;
    color: black;
    padding: 0.75rem 2rem;
    background-color: #fff;
    margin-top: 0.2rem;
    border-radius: 10px;

}

.btn:hover{
    background-color: bisque;
}