* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    
  }

  header {
    background: #333 url(/images/bordercolli_field.jpg) no-repeat
      center center/cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url("/images/bordercolli_field.jpg");
    color: #fff;
    height: 100vh;
    text-align: center;
    padding: 2rem;
    padding-top: 15rem;
  }

  header h1 {
    font-size: 3rem;
  }

  header p {
    margin: 1rem 0;
  }

  .btn {
    display: inline-block;
    text-decoration: none;
    background: #f4f4f4;
    color: #333;
    padding: 0.75rem 2rem;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
  }

  .btn:hover{
    background-color: #ffce88;
    transform: scale(1.1);
    
  }